{% extends "layout.html" %} {% block content %}

<h1 id="title">?sport?</h1>

<div>
  <img
    id="sport_img"
    class="img-fluid mx-auto d-block half-size"
    alt="Image of the chosen sport"
  />
</div>

<div>
  <p>Choose league to review:</p>
</div>

<div id="league_btns"></div>

<br />

<div id="season_text">
  <p></p>
</div>

<div id="season_btns"></div>
<br />

<div>
  <p id="perc_fav">Please choose a league to review</p>
</div>

<div>
  <p id="betting_results"></p>
</div>

<div>
  <p id="betting_input"></p>
</div>

<div>
  <p id="betting_output"></p>
</div>

<script src="{{ url_for('static', filename = 'js/analysis.js') }}"></script>

{% endblock content %}
